.app {
  padding: 14px;
}

.noData {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 14px;
}

.disconnected {
  margin: 0;
}

.reconnect {
  padding: 7px;
  border: none;
  color: var(--primary-text-color);
  font-weight: 600;
  background: none;
  cursor: pointer;
}
